@model List<FileData>
@{
    ViewData["Title"] = "ShowAllBlobs";
}

<h1>ShowAllBlobs</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>FileName</th>
            <th>FileSize</th>
            <th>ModifiedOn</th>
            <th>Play Video</th>
            <th>Download</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model)
        {
        <tr>
            <td>@data.FileName</td>
            <td>@data.FileSize</td>
            <td>@data.ModifiedOn</td>
            <td> <a href="/Home/Video?blobName=@data.FileName">Stream Video</a> </td>
            <td> <a href="/Home/Download?blobName=@data.FileName">Download</a> </td>
            <td> <a href="/Home/Delete?blobName=@data.FileName">Delete</a> </td>
        </tr>
        }
    </tbody>
</table>